{% extends "base.html" %}{% load i18n %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card card-profile p-0 col-8">
        <img height="300px" src="{{profile.cover.url}}" alt="Cover" class="card-img-top cover">
        <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                    <a href="#">
                        <img src="{{profile.avatar.url}}" class="rounded-circle bg-gray">
                    </a>
                </div>
            </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-info  mr-4 ">Follow</a>
                <a href="#" class="btn btn-sm btn-default float-right">Message</a>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center">
                        <div>
                            <span class="heading">22</span>
                            <span class="description">Followers</span>
                        </div>
                        <div>
                            <span class="heading">10</span>
                            <span class="description">Photos</span>
                        </div>
                        <div>
                            <span class="heading">89</span>
                            <span class="description">Comments</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h5 class="h3">{{profile.user.first_name}} {{profile.user.last_name}}</h5>
                <h6 class="h5">@{{profile.user.username}}</h6>
                <p>{{profile.bio}}</p>
            </div>
            {% include "components/user-info.html" %}
        </div>
    </div>
</div>{% endblock %}