{% extends "base.html" %}{% load i18n %}
{% block style %}
<style>
    .list-password-change{
        list-style: inside!important;
    }
</style>
{% endblock %}
{% block content %}
<div class="container mb-6">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-xl-6">
            <div class="card card-profile">
                <form action="" method="POST" class="p-3">
                    <h3>{% trans "Change Password" %}</h3>
                    {% csrf_token %}
                    <span class="p-0">{% trans 'Old Password' %}</span><br>
                    {% if form.old_password.errors %}
                    <span class="helptext text-red">{% trans 'The old password is incorrect.' %}</span>
                    {% endif %}
                    <input type="password" class="form-control" name="old_password" autocomplete="current-password" autofocus required id="id_old_password"><br>
                    <span class="p-0">{% trans 'New password' %}</span><br>
                    <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required id="id_new_password1"><br>
                    <span class="helptext"></span>
                    <span class="p-0">{% trans 'New Password confirmation' %}</span><br>
                    {% if form.new_password2.errors %}
                    <span class="helptext text-red">{% trans 'Password does not match.' %}</span>
                    {% endif %}
                    <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required id="id_new_password2"><br>
                    <input class="btn-ag ag-green w-50 mt-2" type="submit" value="{% trans 'Update' %}">
                </form>
                <ul class="p-3">
                    <li class="list-password-change"> {% trans 'Your password can’t be too similar to your other personal information.' %} </li>
                    <li class="list-password-change"> {% trans 'Your password must contain at least 8 characters.' %} </li>
                    <li class="list-password-change"> {% trans 'Your password can’t be a commonly used password' %} </li>
                    <li class="list-password-change"> {% trans 'Your password can’t be entirely numeric.' %} </li>
                </ul>
            </div>
        </div>
        {% include "components/settings-side.html"%}
    </div>
</div>{% endblock %}