{% extends "base.html" %}{% load i18n %}{% block content %}
<div class="container mb-6">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-xl-6">
            <div class="card card-profile p-3">
                <form method="POST" class="m-auto w-100">
                    {% csrf_token %}
                    <div class="w-100 mb-4">
                        <label for="id_email" class="text-center text-default">{% trans 'Forget Passowr' %}</label>
                    </div>
                    <h4>{% trans "Enter your Email" %}</h4>
                    <input type="email" name="email" class="form-control border-darck px-2 w-100 m-auto sans" placeholder="{% trans 'Enter your email' %}..." maxlength="254" required id="id_email">
                    <div class="text-center btn-reset-password">
                        <button type="submit" class="btn-ag ag-blue mt-3">{% trans 'Send' %}</button>
                    </div>
                </form>
            </div>
        </div>
        {% include "components/settings-side.html"%}
    </div>
</div>{% endblock %}