{% extends "base.html" %}{% load i18n %}{% block content %}
<div class="container mb-6">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-xl-6">
            <div class="card card-profile p-3">
                <h2 class="mb-3 text-center"> {% trans 'Password reset has been sent' %}</h2>
                <p>{% trans "We have sent you an email with a link where you can reset a new password." %}</p>
                <p>{% trans " In case the e-mail is not received, please make sure that your e-mail address is entered correctly and review your spam folder."%}</p>
                <h3 class="mb-2">{% trans 'Check your email' %}</h3>
                {% if user.is_authenticated %}
                <a class="btn-ag ag-gray text-white" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
                {% else %}
                <a class="btn-ag ag-green mb-2" href="{% url 'login' %}">{% trans 'Log in' %}</a>
                <a class="btn-ag ag-blue" href="{% url 'register' %}"> {% trans 'Register' %}</a>
                {% endif %}
            </div>
        </div>
        {% include "components/settings-side.html"%}
    </div>
</div>{% endblock %}