<nav class=" border-bottom bg-light">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item mx-1 d-flex" title="Home">
          <a href="/" class="nav-link link-dark px-2 active" aria-current="page">
            <img class="icon-nav" src="/static/svg/home-outline.d27a252f7aa6.svg" alt="logout">
          </a>
        </li>
        <li class="nav-item mx-1" title="Posts"><a href="/topic/" class="nav-link link-dark px-2"><img class="icon-nav" src="/static/svg/post-outline.436eb6c11ce1.svg" alt="logout"></a></li>
        <li class="nav-item mx-1" title="Menu"><a href="/menu/" class="nav-link link-dark px-2"><img class="icon-nav" src="/static/svg/menu-outline.325f21d731d2.svg" alt="logout"></a></li>
        
        <!-- <li class="nav-item mx-1" title="Create Post"><a href="/new_publisher/" class="nav-link link-dark px-2"><img class="icon-nav" src="/static/svg/plus-outline.b6386a4ebc67.svg" alt="logout"></a></li> -->
        
      </ul>
      
      <ul class="nav">
        <li class="nav-item"><a href="/en/accounts/login/" class="nav-link bg-white link-dark px-2 btn-default m-0 btn my-2 mx-2">LogIn</a></li>
        <li class="nav-item"><a href="/en/accounts/register" class="nav-link bg-white link-dark px-2 btn-default m-0 btn my-2 mx-2">SignUp</a></li>
      </ul>
      
    </div>
  </nav>