{% load i18n %}
<header class="py-2 border-bottom bg-gradient">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      
      <h1 class="fs-4 h4">FreeWsad</h1>
      
    </a>
    <form action="/en/search/" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0">
      <input type="hidden" name="csrfmiddlewaretoken" value="ZNwxseny4ttUtqrgB3GRdY7q4TwyDZNG23MD3BeXzJRLizehL6xvbY8G26YEBmiy" class="form-control">
      <input type="search" name="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>