<!-- List group -->
<div class="list-group list-group-flush scrool">
    <a href="#!" class="list-group-item list-group-item-action p-2">
      <div class="row align-items-center">
        <div class="col-auto">
          <!-- Avatar -->
          <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg" class="avatar rounded-circle">
        </div>
        <div class="col ml--2">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h4 class="mb-0 text-sm">John Snow</h4>
            </div>
            <div class="text-right text-muted">
              <small>3 hrs ago</small>
            </div>
          </div>
          <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
        </div>
      </div>
    </a>
</div>