

<h3 class="text-align p-3"> Categores</h3>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 cat-card">
        <div class="content-card">
            <a href="#">
                <div class="image-category">
                    <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" width="100%" alt="alternative">
                </div>

            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 cat-card">
        <div class="content-card">
            <a href="#">
                <div class="image-category">
                    <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" width="100%" alt="alternative">
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 cat-card">
        <div class="content-card">
            <a href="#">
                <div class="image-category">
                    <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" width="100%" alt="alternative">
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 cat-card">
        <div class="content-card">
            <a href="#">
                <div class="image-category">
                    <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" width="100%" alt="alternative">
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 cat-card">
        <div class="content-card">
            <a href="#">
                <div class="image-category">
                    <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" width="100%" alt="alternative">
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 cat-card">
        <div class="content-card">
            <a href="#">
                <div class="image-category">
                    <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" width="100%" alt="alternative">
                </div>
            </a>
        </div>
    </div>


</div>